thead{
    border: solid 2px black;
}
th{
    border: solid 1px black;
}
tbody{
    border: solid 2px black;
}
#custom1{
    height: 87px;
    width: 100%;
}
.paisa {
    font-size: 30px;
    font-weight: 700;
    color: #1DB954;
    text-decoration: underline black;
}