* {
    margin: 3px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.signup-box {
    background: rgba(25, 20, 20, 0.9);
    padding: 40px;
    border-radius: 10px;
    width: 650px;
    text-align: center;
}
.paisa{
    color: #1DB954;
    font-size: 30px;
    font-weight: 700;
}
.input-group {
    margin-bottom: 15px;
}

input {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background: #333;
    color: white;
    font-size: 18px;
}
.btn {
    width: 100%;
    padding: 12px;
    background: #1DB954;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}

.btn:hover {
    background: #1ed760;
}
#gender {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background: #333;
    color: white;
    font-size: 18px;
}
.login-link {
    margin-top: 25px;
    color: #b3b3b3;
    font-size: 15px;
}

.login-link a {
    color: #1DB954;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}